@media screen and (max-width: 1256px) {
	.container-links {
		img {
			@include sizes(43rem, auto)
		}
	}
}

@media screen and (max-width: 1000px) {
	.container-links {
		img {
			@include sizes(38rem, auto)
		}
	}
}

@media screen and (max-width: 991px) {
	.carousel-item {
		img {
			height: 50rem !important;
		}
	}
	.container-links {
		justify-content: center;
		row-gap: 3rem;
		img {
			width: $s-100;
		}
	}
	.newsletter {
		grid-template-columns: unset;
		grid-template-rows: 1fr auto;
		gap: 3rem 0;
	}
	.newsletter-content {
		grid-column: unset;
		grid-row: 2 / 3;
	}
}

@media screen and (max-width: 610px) {
	.container-images {
		flex-direction: column;
		img {
			@include sizes($s-100, auto);
		}
	}
	.container-links {
		img {
			width: $s-100;
		}
	}
}
