.container-images {
	img {
		@include sizes(33.33%, 100vh);
		object-fit: cover;
	}
}

.section-recommendation {
	width: $s-90 !important;
}

.recommendation {
	img {
		@include sizes(25rem, 25rem);
		display: block;
		object-fit: contain;
		transition-duration: .3s;
		&:hover {
			transform: scale(.9);
		}
	}
	p {
		&:nth-of-type(2) {
			&::before {
				content: "$";
			}
		}
	}
}

.collection {
	img {
		@include sizes(25rem, 25rem);
		object-fit: cover;
		transition-duration: .3s;
		&:hover {
			transform: scale(.9);
		}
	}
	p {
		&:nth-of-type(2) {
			&::before {
				content: "$";
			}
		}
	}
}