.container-images {
	img {
		@include sizes(33.33%, 100vh);
		object-fit: cover;
	}
}

.section-recommendation {
	width: $s-90 !important;
	margin: 3rem auto;
	h2 {
		margin-bottom: 2.3rem;
	}
}

.recommendation {
	transition-duration: .3s;
	img {
		@include sizes(25rem, 25rem);
		object-fit: contain;
	}
	p {
		&:nth-of-type(2) {
			&::before {
				content: "$";
			}
		}
	}
}
